pom.xml
.DS_Store
*jar
.idea/
lib/
classes/
targets/
.lein-repl-history/
.lein-*/
.env/

.nrepl-port

.lein-deps-sum
*~
\#*
.#*

rxjava/expt1/maven_repository/local/rxjava-clojure/0.9.1-SNAPSHOT/maven-metadata.xml

*.md5

*.sha1

*.pom

rxjava/expt1/maven_repository/local/rxjava-clojure/maven-metadata.xml

*.dependencies

big-prime/.lein-repl-history

*.log

*.so

Algorithms/dijkstra/.idea/workspace.xml

*.iml

mini-kanren/.nrepl-port

monads/clojure-dot-net/midje-motivation/.lein-failures

monads/clojure-dot-net/midje-motivation/.lein-repl-history

monads/clojure-dot-net/midje-motivation/.nrepl-port

monads/clojure-dot-net/midje-motivation/target/repl-port
